/**
 *! BASE CONTENTS FOR ITCSS
 *
 ** COMPONENTS - 06_components
 *? Specific UI components. This is where the majority of our work takes place and our UI components are often composed of Objects and Components
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 */

.component_hero {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  background-image: url("/src/assets/images/hero/big.jpg");

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }

  & > * {
    padding: 1rem;
    height: 300px;
  }

  & .item1,
  .item2,
  .item8,
  .item9 {
    display: none;
    @include tablet {
      display: block;
    }
  }

  & .item3,
  .item4,
  .item5,
  .item6,
  .item7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & h3 {
    font-size: 50px;
    color: $myWhite;
  }

  & .item3:hover {
    @include hover-item-grid(url("/src/assets/images/hero/tour.jpg"), 0.9);
  }

  & .item7:hover {
    @include hover-item-grid(url("/src/assets/images/hero/contact.jpg"), 0.9);
  }
}

.view_band {
  margin: 0 auto;
  max-width: 960px;

  h1 {
    font-size: 4rem;
    font-family: $font-family-serif;
  }
  @include mobile-lg {
    h1 {
      font-size: 4.5rem;
    }
  }

  @include tablet {
    h1 {
      font-size: 7rem;
    }
  }
}

.component_card {
  width: 100%;
  display: flex;

  @include tablet {
    width: 50%;
  }

  @include desktop {
    width: 33%;
  }
  & .component_content {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  & .thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 0.5rem solid $myBlack;
    background-size: cover;
    & > * {
      display: none;
    }
    & > a {
      cursor: pointer;
    }
  }

  /* stylelint-disable */
  & .thumbnail:hover {
    background-image: none !important;
    background-color: $myWhite;

    & > * {
      display: block;
    }
  }
  /* stylelint-enable */
}

.note {
  & figure {
    margin: 0;
  }
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin: 10px 0;
  border: solid 1px #f9f9f9;
  background-color: $myWhite;
  box-shadow: 1px 8px 20px 1px rgb(222 222 222);
  border-radius: 5px;

  &:hover {
    & cite {
      color: $primary;
    }
  }
}
